@charset "UTF-8";

* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding-top: 10px;
}

h1 {
    position: absolute;
    top: 90px;
    display: inline;
    color: white;
}

header div {
    background-color: black;
    border-radius: 100px 0px 0px 100px;
    max-width: 775px;
    max-height: 190px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.548);
    margin: auto;
}

div#borda {
   border: 5px solid white;
   max-width: 800px;
   max-height: 190px;
   padding: 0px;
}

img {
    display: inline-block;
    padding: 10px;
}

main {
    max-width: 700px;
    margin: auto;
    border: 1px solid black;
    margin-top: 25px;
    padding: 10px;
    background-color: black;
}

section {
    background-color: black;
    border: 5px solid white;
}

p {
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
    color: white;
}

strong {
    text-decoration: underline;
}