@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root {
    --cor-principal: #195a37;
    --cor-secundaria: #3dda84;
    --cor-terciaria: white;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    background-color: #84e1ad;
}

header {
    background-image: linear-gradient(to top, var(--cor-principal), var(--cor-secundaria));
    height: 225px;
    margin: 0px;
}

header > h1, header > p {
    padding-top: 20px;
    text-align: center;
    color: var(--cor-terciaria);
    font-family: var(--fonte-destaque);
    margin: 0px;
}

header > p {
    width: 500px;
    margin: auto;
    margin-top: 15px;
    font-size: 20px;
}

nav {
    padding-top: 50px;
}

nav > a{
    text-decoration: none;
    color: var(--cor-terciaria);
    padding: 10px 20px;
    font-family: sans-serif;
    border-radius: 10px;
}

nav > a:hover {
    transition: 0.5s;
    background-color: var(--cor-secundaria);
}

main {
    background-color: var(--cor-terciaria);
    margin: auto;
    margin-top: 0px;
    width: 900px;
    height: 2350px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.726);
}

h1, h2 {
    margin-top: 0px;
    padding: 10px 20px;
    font-family: var(--fonte-android);
    color: var(--cor-principal);
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    background-image: linear-gradient(to right, #c1e7d2, white);
    padding: 10px;
    margin: 10px;
}

p {
    text-align: justify;
    text-indent: 20px;
    width: 875px;
    margin: 15px auto;
    font: 20px var(--fonte-padrao);
}

article {
    margin: 10px 0px;
}

aside {
    background-color: #c5ebd6;
    width: 850px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.527);
}

aside > p {
    width: 825px;
}

h3 {
    width: 850px;
    margin: 0px auto;
    background-color: #195a37;
    color: white;
    font-family: var(--fonte-padrao);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

strong {
    color: var(--cor-principal);
}

footer {
    background-color: #195a37;
}

footer > p {
    color: white;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 0px;
}

ul {
    display: inline-block;
}

#direita {
    padding-left: 300px;
}

p > a::after {
    content: '🔗';
}

p > a {
    color: var(--cor-secundaria);
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
    color: var(--cor-principal);
}